body{	
  background: #feffe8; /* Old browsers */
background: -moz-linear-gradient(top,  #feffe8 0%, #d1d8ad 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffe8), color-stop(100%,#d1d8ad)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #feffe8 0%,#d1d8ad 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #feffe8 0%,#d1d8ad 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #feffe8 0%,#d1d8ad 100%); /* IE10+ */
background: linear-gradient(to bottom,  #feffe8 0%,#d1d8ad 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffe8', endColorstr='#d1d8ad',GradientType=0 ); /* IE6-9 */
  
  background-attachment: fixed;
}
.whiteBgr{
	background-color: white;
	/*border-radius: 5px;
  border-top-right-radius: 80px;
  border-bottom: solid #3eb123 3px;*/
	border-top: solid #3eb123 3px;
	padding-left: 25px;
  padding-top: 10px;
  padding-right: 20px;
  -webkit-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  -moz-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);

}

/*.whiteBgr:hover{
  border-top: solid #3eb123 3px;
  border-bottom: solid #d1e73a 3px;
}*/
.container{
  max-width: 1920px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 595px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 595px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 595px;
}

.jumbotron{
  background: transparent;
  margin: 0;
  padding: 0;
}
.jumbotron h1{
    color: #a83a32;
    font-weight: normal;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 50px;
    text-shadow: 0 2px white, 0 3px #777;
}
/*
 * Main content
 */

.main {
  padding: 20px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  } 

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

.masthead{
  padding:10px;
  border-bottom-left-radius:80px; 
  border-bottom-right-radius:80px; 
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
.featuresize{
	font-size: 40px;
}
.imgFloat{
    float:left;
    margin-right:10px;       
}
.describe{
	font-size:13px;
}
.subhead{
  background-color: #2c3e50;        
  color:white;          
  width:100%;
  margin-bottom: 0px; 
  border-top: solid 3px #d1e73a;
  border-top-style: ridge;
}
.subhead2{
  background-color: #1f2c3a;         
  color:#7393aa;          
  width:100%;
  margin-bottom: 0px; 
}  
.subhead-blue{
color:#7393aa;
}
.subhead-green{
color:#1b9373;
}
.img-thumbnail{
  /*-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;*/
}
.img-thumbnail:hover{  
   cursor: pointer;
   /* -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);*/
    border-left: solid 1px #f0ad4e;
}
ul{
  list-style-type: none;
}
.panel{
  border-top: solid #d1e73a 3px;
  border-bottom: solid #d1e73a 3px;
}
.panel:hover{
  border-top: solid #48d028 3px;
  border-bottom: solid #48d028 3px;
}
#gmap_canvas{
  border: solid 1px #495e3e;
  border-radius: 10px;
}
.anHien{
  display: none;
}
.question:hover{
    cursor: pointer;
    color: #69ab98;
}
.searchdrop{
  display: none;
}
a {
  color: #0f621f;
} 
a:hover,a:focus {
  color: #27933b;
  text-decoration: none;
  outline: none;
}
.pofbody{
  font-size:17px;
  margin: 30px 50px 50px;
  text-align: justify;
}
.header{
  margin:0 50px 0 50px;
  font-size: 18px;
  color:#9aa1a6;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-style: italic;
}
.header h1{
  color: #ac3e3b;
  font-size: 50px;
  text-align: center;
  font-style: normal;
}
.list-group{
  /*box-shadow: -2px 0px 12px #888888;*/
  border: solid 1px #e2dfde;
  border-top: solid #d1e73a 3px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #eee;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #eee, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #eee, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}
.list-group .active{
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          border: none;
          border-left: solid 2px #1b4b6d;
          color:#7b4b17;
          background-color: #C9E0A4;
}
.list-group .active:hover{
  color:#7b4b17;
  background-color: #C9E0A4;
}
.list-group-item:hover{
  border-left: solid 1px #1b4b6d;
}
/*.list-group-item:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}*/
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.breadcrumb{
  background-color: transparent;
  margin-top:20px;
  border-radius: 0px;
  padding-left: 7px;
  margin-left:10px;
}
.menuphu{
  text-indent: 10px;
}
.tieude{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  color: #8cb316;
}


/*======================================MENU BAR===========================================================*/
.site-navigation {
  display: block;
  /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-size: 16px;
  margin: 10px 10px 30px;
  z-index: 1001;
  background: #3498DB;
  width: 100%;
}
.green{
  color:#8cb316;
}
.site-navigation ul {
  background: #3498DB;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.site-navigation li {
  color: #fff;
  background: #1b4b6d;
  display: block;
  float: left;
  margin: 0 0 0 0;
  padding: 10px 20px 10px 20px;
  position: relative;
  text-decoration: none;
  width:12%;
  border-top:solid 2px #8cb316;
  text-align: center;
}
  
.site-navigation li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.site-navigation li:hover {
  background: #8cb316;
  cursor: pointer;
}
.site-navigation li a :hover{  
  color:#3e87bf;
}

.site-navigation ul li ul {
  background: #5e5d5d;
  visibility: hidden;
  float: left;
  width: 100%;
  position: absolute;
  margin: 10px 0 0;
  left: 0;
  z-index: 1000;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
}

.site-navigation ul li ul li {
  clear: both;
  padding: 5px 0 5px 18px;
  width: 100%;
  border-top: solid 1px #cac24a;
  text-align: left;
  background: #5e5d5d;
  font-size: 17px;
}
.site-navigation ul li ul li:hover {
  background: #b9d064;
}
.site-navigation .active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          background-color: #8cb316;
}
.site-navigation ul li ul li:last-child{
  border-bottom: solid 3px #8cb316;
}

@media (max-width: 768px) {
  .site-navigation > li {
    display: table-cell;
    width: 1%;
  }
  .site-navigation > li > a {
    margin-bottom: 0;
  }
  .site-navigation li {
    min-width:200px;
  }
}
