body{	
  background-color: #f1f1f1;  
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.whiteBgr{
	background-color: white;
  opacity: 0.8;
	border-radius: 5px;
	border-top: solid #d1e73a 3px;
  border-bottom: solid #d1e73a 3px;
	padding-left: 15px;
}
.whiteBgr:hover{
  border-top: solid #98e73a 3px;
  border-bottom: solid #98e73a 3px;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 595px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 595px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 595px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  } 

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}



/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #d8d7d7; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#d8d7d7));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #d8d7d7 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #d8d7d7 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #f5f5f5), to(#d8d7d7));
  background-image:         linear-gradient(top, #f5f5f5 0%, #d8d7d7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d8d7d7',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
.featuresize{
	font-size: 40px;
}
.imgFloat{
    float:left;
    margin-right:10px;       
}
.describe{
	font-size:13px;
}
.subhead{
  background-color: #2c3e50;        
  color:white;          
  width:100%;
  margin-bottom: 0px; 
}
.subhead2{
  background-color: #1f2c3a;         
  color:#7393aa;          
  width:100%;
  margin-bottom: 0px; 
}  
.subhead-blue{
color:#7393aa;
}
.subhead-green{
color:#1b9373;
}
.img-thumbnail{
  border-radius: 20px;
}
ul{
  list-style-type: none;
}
.panel{
  border-top: solid #d1e73a 3px;
  border-bottom: solid #d1e73a 3px;
}
.panel:hover{
  border-top: solid #48d028 3px;
  border-bottom: solid #48d028 3px;
}
#gmap_canvas{
  border: solid 1px #495e3e;
  border-radius: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron{
  padding: 14px 24px;
  margin-top: 20px;
  font-size: 21px;
}
.anHien{
  display: none;
}
.question:hover{
    cursor: pointer;
    color: #69ab98;
}
.searchdrop{
  display: none;
}
 
a{ color:#5a5a5a;
}
a:hover{
  color:#6d766d;
  text-decoration: none;
}