body{  
  /*background-attachment: fixed;
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;*/

  background: #dbd5a4;
  background-repeat: repeat-y, repeat;
        
}
.whiteBgr{
  background-color: white;
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 20px;
  opacity: 0.9;
}
.biggest{    
  background: #dbd5a4;
  background-repeat: repeat-y, repeat;        
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
  margin-bottom: -90px;
  padding:0 0 35px 0 ;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top: solid 3px #d69f3a;
  box-shadow: 0px 2px 15px #888888;
}
.container{
  max-width: 1920px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 595px;
  max-width: 2000px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
.carousel-caption p{
  background-color: #313133;
  padding: 5px 0px 5px 10px;
  width:80%;
  font-size: 16px;
  opacity: 0.8;
  text-align: left;
  border-left: solid 3px #865e21;
}
.carousel-caption h2{
  background-color: #0f0d0d;
  padding: 13px 0px 13px 10px;
  width:55%;
  border-left: solid 3px #c99441;
  margin-bottom:1px;
  opacity: 0.8;        
  text-align: left;
  border-top-left-radius: 20px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 595px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 595px;
}

.main {
  padding: 20px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  } 

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}
.imgFloat{
    float:left;
    margin-right:10px;       
}
.ribbon {
 font-size: 14px !important;
 width: 50%;    
 position: relative;
 background: #ba89b6;
 color: #fff;
 text-align: center;
 padding: 1em 2em; /* Adjust to suit */
 margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #804f7c transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.describe{
  font-size:13px;
}
.subhead{       
  color:white;          
  width:100%;
  margin-bottom: 0px; 
  padding-top: 120px;
  background-size: cover;

    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
.subhead2{
  background-color: #c6caaa;         
  color:#81846e;          
  width:100%;
  margin-bottom: 0px; 
}  
.subhead-blue{
color:#48644f;
}
.img-thumbnail:hover{  
  cursor: pointer;
  border-color: #a7e966;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.searchbox{
  width:230px;
  float:right;
  margin-right:10px;
  border-radius: 20px;
  z-index: 500;
}
ul{
  list-style-type: none;
}
.panel{
  border-top: solid #d1e73a 3px;
  border-bottom: solid #d1e73a 3px;
}
.panel:hover{
  border-top: solid #48d028 3px;
  border-bottom: solid #48d028 3px;
}
#gmap_canvas{
  border: solid 1px #495e3e;
  border-radius: 10px;
}
.anHien{
  display: none;
}
.question:hover{
    cursor: pointer;
    color: #69ab98;
}
.searchdrop{
  display: none;
}
a {
  color: #0f621f;
} 
a:hover,a:focus {
  color: #27933b;
  text-decoration: none;
  outline: none;
}
.pofbody{
  font-size:17px;
  margin: 30px 50px 50px;
  text-align: justify;
}
.header{
  font-size: 18px;
  color:#48778c;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-style: italic;
}
.header h1{
  color: #ac3e3b;
  font-size: 50px;
  font-style: normal;
  text-align: left;
}
.welcome{
  border: solid 1px #dbdcd7;
  border-left:solid 4px #8cb316;
  margin-left:20px;
  padding: 10px 0 10px 0;
}
.list-group{
  /*box-shadow: -2px 0px 12px #888888;*/
  border: solid 1px #e2dfde;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #eee;
}
.list-group .active{
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          border: none;
          border-left: solid 1px #ac3e3b;
          color:#7b4b17;
          background-color: #C9E0A4;
}
.list-group .active:hover{
  color:#7b4b17;
  background-color: #C9E0A4;
}
.list-group-item:hover{
  border-left: solid 1px #1b4b6d;
}
/*.list-group-item:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}*/
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.breadcrumb{
  background-color: #dff0d8;
  margin:20px 0 30px 10px;
  border-top: solid 1px #a5bb9b;
  border-bottom: solid 1px #a5bb9b;
  padding-left: 17px;
}
.menuphu{
  text-indent: 10px;
}
.tieude{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  color: #8cb316;
}


/*======================================MENU BAR===========================================================*/
.site-navigation {
  display: block;
  /*font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;*/
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 15px;
  margin: 10px 10px 30px;
  z-index: 1001;
  background: #3498DB;
  width: 100%;
}
.green{
  color:#8cb316;
}
.site-navigation ul {
  background: #3498DB;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.site-navigation li {
  color: #fff;
  background: #1b4b6d;
  display: block;
  float: left;
  margin: 0 0 0 0;
  padding: 10px 20px 10px 20px;
  position: relative;
  text-decoration: none;
  width:12.3%;
  border-top:solid 2px #8cb316;
  text-align: center;
}
  
.site-navigation li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.site-navigation li:hover {
  background: #8cb316;
  cursor: pointer;
}
.site-navigation li a :hover{  
  color:#3e87bf;
}

.site-navigation ul li ul {
  background: #5e5d5d;
  visibility: hidden;
  float: left;
  width: 150%;
  position: absolute;
  margin: 10px 0 0;
  left: 0;
  z-index: 1000;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
}

.site-navigation ul li ul li {
  clear: both;
  padding: 5px 0 5px 18px;
  width: 100%;
  border-top: solid 1px #cac24a;
  text-align: left;
  background: #5e5d5d;
  font-size: 17px;
}
.site-navigation ul li ul li:hover {
  background: #b9d064;
}
.site-navigation .active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          background-color: #8cb316;
}
.site-navigation ul li ul li:last-child{
  border-bottom: solid 3px #8cb316;
}

@media (max-width: 768px) {
  .site-navigation > li {
    display: table-cell;
    width: 1%;
  }
  .site-navigation > li > a {
    margin-bottom: 0;
  }
  .site-navigation li {
    min-width:200px;
  }
}